@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

.btn {
  color: white !important;
}

#CtlBody {
	width: 80% !important;
	margin: auto;
}

#divMainContent {
    box-shadow: rgb(34, 34, 34) 1px 2px 12px 0px;
}

/* for login page */
#CtlHead {
	border-bottom: 2px solid #0074c7;
    box-shadow: 0px 3px 4px rgba(0,0,0,.2);
}

#ctl00_content_ImageControlHeader {
		object-position: 0% 40%;
}
#ctl00_content_TextUserAttributeList_divButtons {
	width: 100%;
    text-align: right;
    border: 0px;
}

#colorbox {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 30px;
  color: #777;
}

#tdForm {
	/*min-width:500px;
  float: left;
  width: 50%;*/
  background: #F9F9F9;
  padding: 25px;
  box-shadow: rgb(189, 189, 189) 1px 2px 12px 0px;
  /*display: inline-block;*/
}

#tdProof{
	width:50%;
  padding: 25px;
  max-width: 750px;
  box-shadow: rgb(189, 189, 189) 1px 2px 12px 0px;
  /* height: auto; */
}

#fname_InputCell{
  vertical-align: top;
  border: medium none !important;
  margin: 10px 0 10px;
  min-width: 100%;
  padding: 4px;
  width: 100%;
}

#fname {

	width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#lname_LabelCell{
	vertical-align: middle;
}
#lname_InputCell{
	vertical-align: top;
    border: medium none !important;
    margin: 10px 0 10px;
    min-width: 100%;
    padding: 4px;
    width: 100%;
}

#lname {

	width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#add1_LabelCell{
	vertical-align: middle;
}
#add1_InputCell{
	vertical-align: top;
    border: medium none !important;
    margin: 10px 0 10px;
    min-width: 100%;
    padding: 4px;
    width: 100%;
}

#add1 {

	width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#add2_LabelCell{
	vertical-align: middle;
}
#add2_InputCell{
	vertical-align: top;
    border: medium none !important;
    margin: 10px 0 10px;
    min-width: 100%;
    padding: 4px;
    width: 100%;
}

#add2 {

	width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#city_LabelCell{
	vertical-align: middle;
}
#city_InputCell{
	vertical-align: top;
    border: medium none !important;
    margin: 10px 0 10px;
    min-width: 100%;
    padding: 4px;
    width: 100%;
}

#city {

	width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#zip_LabelCell{
	vertical-align: middle;
}
#zip_InputCell{
	vertical-align: top;
    border: medium none !important;
    margin: 10px 0 10px;
    min-width: 100%;
    padding: 4px;
    width: 100%;
}

#zip {

	width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#country_LabelCell{
	vertical-align: middle;
}
#country_InputCell{
	vertical-align: top;
    border: medium none !important;
    margin: 10px 0 10px;
    min-width: 100%;
    padding: 4px;
    width: 100%;
}

#country{

	width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;s
  /*padding: 10px;*/
}

#Text_Email_Address_LabelCell{
	vertical-align: middle;
}
#Text_Email_Address_InputCell{
	vertical-align: top;
    border: medium none !important;
    margin: 10px 0 10px;
    min-width: 100%;
    padding: 4px;
    width: 100%;
}

#Text_Email_Address{

	width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#ctl00_content_CartShipping_pnlShippingAction {
	box-shadow: rgb(34, 34, 34) 1px 2px 12px 0px;
}

select[name="ctl00$content$TextUserAttributeList$CtlUserPropertiesSecurityQuestion$ddlSecurityQuestion"] {
    width: 300px;
}
/* End of Form Style */

/*Product Proof Styles*/



/*Product Proof Styles End*/

/*Order information Style */

#ctl00_content_CtlAddToCart_ProductOrderInfoController_divProductOrderInfo {

	margin-top: 20px;
}

/* Order information End */

/*Iframe Style*/

#previewFrame{
	min-width: 510px;
	min-height: 500px;

}
#previewWrapper {
	height: 100%;
	min-width:500px;
}

#previewImage{
	width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 600px;
}

/*Start Order Buttons*/


/*End Order buttons*/

/* Product information with rest of title*/
.ColorPromptText, .BluePromptText, .QuickFillPrompt {
    font-size: 24px;
    color: #d42000;
    border-bottom: solid 1px #000000;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    vertical-align: top;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.Font22 {
    font-size: 20px !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Font12 {
    margin-left: 40px;
    font-size: 15px !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* angular style buttons */
/*
.angBtn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  color: #ffffff !important;
  background-color: #5cb85c;
  border-color: #4cae4c;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  user-select: none;
  text-decoration: none;
}

.angBtn:hover {
  background-color: #47a447;
  border-color: #398439;
  text-decoration: none;
  color: #ffffff !important;
}

.angBtn:visited {
  text-decoration: none !important;
}
*/
.angBtnWhite {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  color: #398439 !important;
  background-color: white;
  border-color: #398439;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 2px solid;
  white-space: nowrap;
  user-select: none;
  text-decoration: none;
}

.angBtnWhite:hover {
  text-decoration: none !important;
  color: #398439 !important;
  background-color: white !important;
  background-color: #eeeeee !important;
}

.angBtnWhiteRed {
  color: gray !important;
  background-color: white !important;
}

.angBtnWhiteRed:hover {
  text-decoration: none !important;
  color: red !important;
  background-color: #eeeeee !important;
}

.angBtnWhiteGreen {
  color: gray !important;
  background-color: white !important;
}

.angBtnWhiteGreen:hover {
  text-decoration: none !important;
  color: #449d44 !important;
  background-color: #eeeeee !important;
}

.angBtnWhiteGray {
  color: gray !important;
  background-color: white !important;
  margin-top: 10px;
}

.angBtnWhiteGray:hover {
  text-decoration: none !important;
  color: black !important;
  background-color: #eeeeee !important;
}


.btnWhiteText {
  color: #FFF !important;
  margin-right: 10px;
}

.btnWhiteText:visited {
  color: #FFF !important;
}

.CheckoutBreadCrumbs {
  width: 80%;
  margin: auto;
  float: none;
  font-size: 18px;
}
/*
input[type=text] {
  font-size: 14px !important;
  border: 1px solid #CCC;
  color: #888;
  height: 20px;
  line-height: 15px;
  margin-bottom: 3px;
  margin-right: 6px;
  margin-top: 3px;
  outline: 0 none;
  padding: 4px 0px 4px 4px;
  width: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
*/
select {
  font-size: 14px !important;
  border: 1px solid #CCC;
  color: #888;
  /*height: 100%;*/
  height: 34px !important;
  line-height: 15px;
  margin-bottom: 3px;
  /*max-width: 300px;*/
  margin-right: 6px;
  margin-top: 3px;
  outline: 0 none;
  padding: 5px 0px 5px 5px;
  width: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.Width100Pct {
  padding: 25px;
}

.btn-l-green {
  .btn;
  .btn-lg;
  .btn-success;
  .btnWhite;
}

/* Add to cart table */
#w2p_Section_44142572, #w2p_Section_44142581 {
  border: 1px solid #aaaaaa;
  background-color: #fefefe
}

.pflabel {
  vertical-align: top !important;
  padding-top: 10px;
}

/*Flash preview*/

#flashPreview {
  width: 99%;
}


/* Header banner Customization */

#bannerRow {
	
}

#bannerColumn {

    margin-top: 110px;
    display: block;
    padding: 5px;
}

#bannerHead{

    display: block;
    padding: 5px;
    text-align: center;
	color: #ffffff;
    font-size: 38px;
	font-weight:600;
}
#formMiddlealign {

text-align: center;
}

#bannersubhead
{
    display: block;
    padding: 5px;
	text-align: center;
	color: #ffffff;
    font-size: 32px;
}

#searchbox {

	position: relative;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;

}
#searchicon{

	float:left;
    margin-right: 5px;
    vertical-align: middle;
	color:#ffffff;
}
#searchField {
	padding-left:5px;
	border: 1px solid white;
	background-color:transparent;
	height: 34px;
}
#searchField::placeholder {
	color: white;
	padding-left:5px;
}

#searchButton {

	float: right;
    vertical-align: middle;
    display: block;
    background-color: #575a74 !important;
    border-color: #434457 !important;
    padding: 5px;
    height: 34px;
    border-radius: 4px;
}
#searchButton:hover{
    float: right;
    vertical-align: middle;
    display: block;
    background-color: #f79b1d !important;
    border-color: #e98d10 !important;
    padding: 5px;
    height: 34px;
    border-radius: 4px;

}
