#CtlBody {
	width: 80% !important;
}

#ctl00_ImageControlPageHeader {
		max-height: 300px;
		min-width: 100%;
		flex-shrink: 0;
		object-fit: cover;
		object-position: 0% 40%;
		border-top: 2px solid #0074c7 !important;
		border-bottom: 2px solid #0074c7 !important;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2), 0px -3px 4px rgba(0,0,0,.2);
}

/* for login page */
#CtlHead {
		border-bottom: 2px solid #0074c7;
    box-shadow: 0px 3px 4px rgba(0,0,0,.2);
}

#ctl00_content_ImageControlHeader {
		object-position: 0% 40%;
}
